<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.select.mapper.AdminMapper">
    <resultMap id="AdminMap" type="com.select.entity.Admin">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
    </resultMap>

    <select id="selectById" parameterType="Integer" resultMap="AdminMap">
        select * from admin where id =#{id}

    </select>


</mapper>